{% extends "main.html"%}
{% block content%}
{%load static%}

 

<div class="homebox"  >
    <img src="{% static 'images/1.jpg' %}" style="  
    background-size: cover;
    background-position: center;
    width: 60vw; 
    height: 70vh;
       
  
  ">
   
    <div >
        <h1>The payment platform <br><strong>to make your business flow</strong></h1>
    </div>
    <a href="#"aria-label="open lightbox" aria-haspopup="dialog">
        
        </a>

    <div >Get paid by your international
         clients and marketplaces in multiple currencies with no fees and withdraw your funds to your local bank account.
    </div>
    <div >

    </div>

    <a href="#">
        Get Started</a>

</div>









    <!--{% for things in people%}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#"> {{ things.author }}</a>
            
        </div>
        <h2><a class="article-title" href="#">job: {{ things.job }}</a></h2>
        <p class="article-content">{{ things.hobyy }}</p>
        </div>
    </article>
    {%endfor%}-->
{% endblock%}