{% extends "main.html"%}
{% block content%}

<div class="content-section">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
        style="
        background-color: #000101; /* Red color */
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        "
        
        >Login</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <div class="border-top">
        <p class="tect-muted">
            <a href="#">Forgot password, Reset?</a>
        </p>

    </div>

</div>
{% endblock%}






