{% extends "main.html"%}

{% block content%}


<div class="container">
    <div class="row">
        <div class="col-md-5">
           
            <div class="content-section">
                <h3>Current Balance</h3>
                <p class='text-muted'> main currency {{currency}}</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">{{ balance }} in USD</li>
                    <li class="list-group-item list-group-item-light">{{ balance }} in Euro</li>
                    <li class="list-group-item list-group-item-light">{{ balance }} in GBP</li>

                </ul>
            </div>
        </div>
        <div class="col-md-7">
 
        <h1>Request Invoice</h1>

        <form method="post">

            {% csrf_token %}
            {{ form.as_p }}
            
            <button  class="btn btn-block btn-success submit-button" type="submit">
                <span class="submit-button-lock"></span>
                <span class="align-middle">Request</span>
            </button>
        </form>
        <br>
        </div>
    </div>


    <a href= {% url 'payfunc' %}>

        Pay Money Instead?

    </a>


    <br>

    <p>
        Please note that EPay is not responsible for incorrect payment requests. <br>
        Ensure that you are requesting money from the correct user before proceeding.
    </p>
    
    <h5>Request Safety Tips:</h5>
    <ul>
        <li>Verify the user's details before sending a money request.</li>
        <li>Double-check the amount and currency before submitting the request.</li>
        <li>Avoid sharing sensitive information like your password or account details.</li>
    </ul>
    
    <br>
    
</div>




    
 


{% endblock%}